/*====Table of Contents====*/
/*Tailwind*/

/*===components===*/
/*Sidebar*/

/*===pages===*/
/*Cat*/
/*Login*/

/*===misc===*/
/*Header Title*/
/*Logo*/
/*Button*/
/*Form*/
/*Border*/
/*Color Scheme*/
/*Transition*/

/*========================================*/
/*========================================*/

/*====Tailwind====*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200
}

/*====Header Title====*/
.header-title {
  @apply mt-auto mb-auto mr-3 transition-1
}

/*====Logo====*/
.App-logo {
  @apply h-10 pointer-events-none
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*====Sidebar====*/
.active {
  @apply bg-sky-400 text-sky-900
}

/*====Login====*/
.login-container {
  @apply bg-white h-auto w-[25rem] mt-10 m-auto shadow-md rounded-md
}

.login-container header {
  @apply relative prm-bg h-20 w-auto p-2 rounded-t-md
}

.login-container header>div {
  @apply absolute flex inset-0 w-fit h-fit m-auto
}

.login-container header>div>span {
  @apply text-2xl font-bold sec-text hover:text-sky-400 transition-1
}

/*====Cat====*/
.cat-descrip {
  @apply ml-2
}

.cat-descrip p {
  @apply font-semibold
}

.cat-descrip p > span {
  @apply text-sky-400 hover:text-sky-600 transition-1
}

.cat-img {
  @apply h-32 cursor-zoom-in
}

/*====Button====*/
.btn {
  @apply px-3 py-2 shadow-sm rounded-md transition-1
  leading-snug whitespace-nowrap text-base font-semibold
}

.btn-primary {
  @apply prm-bg sec-text hover:bg-sky-600 border-focus
}

.btn-block {
  @apply w-full
}

.btn-disabled {
  @apply bg-sky-900 text-sky-700 cursor-not-allowed border-focus
}

/*====Card====*/
.card-container {
  @apply mt-2 p-2
}

/*====Form====*/
.form-control {
  @apply p-4
}

.form-group {
  @apply flex flex-col mb-3
}

.form-group label {
  @apply prm-text prm-hover text-lg  transition-1
}

.form-group input {
  @apply bg-slate-100 prm-text border-focus px-2 py-1
}

/*====Border====*/
.border-focus {
  @apply focus:outline-none focus:ring focus:border-sky-500 rounded-md
}

/*====Color Scheme====*/
.prm-bg {
  @apply bg-sky-700
}

.prm-text {
  @apply text-sky-700
}

.prm-hover {
  @apply hover:text-sky-500
}

.prm-border {
  @apply border-sky-700
}

.prm-border-hover {
  @apply hover:border-sky-500
}

.sec-bg {
  @apply bg-sky-200
}

.sec-text {
  @apply text-sky-100
}

.sec-hover {
  @apply hover:text-sky-400
}

.sec-border {
  @apply border-sky-100
}

.sec-border-hover {
  @apply hover:border-sky-400
}

/*====Transition====*/
.transition-1 {
  @apply transition duration-300 ease-in-out
}