/*====Table of Contents====*/
/*Tailwind*/

/*===components===*/
/*Sidebar*/
/*Navbar*/
/*Divider*/
/*ImageModal*/

/*===pages===*/
/*Cat*/
/*Admin*/
/*Login*/

/*===misc===*/
/*Header Title*/
/*Logo*/
/*Button*/
/*Card*/
/*Form*/
/*Border*/
/*Color Scheme*/
/*Transition*/

/*========================================*/
/*========================================*/

/*====Tailwind====*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200
}

/*====Header Title====*/
.header-title {
  @apply mt-auto mb-auto mr-3 transition-1
}

/*====Logo====*/
.App-logo {
  @apply h-10 pointer-events-none
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*====Sidebar====*/
.sidebar {
  @apply fixed top-0 left-0 prm-bg text-white w-64 h-screen m-0 overflow-auto
}

.sidebar header {
  @apply prm-bg fixed h-auto w-64
}

.sidebar header>div {
  @apply flex pt-4
}

.sidebar header>div>span {
  @apply text-lg font-bold sec-text hover:text-sky-400
}

.sidebar-items {
  @apply h-[calc(100vh-8rem)] mt-28 ml-3 mr-3 mb-4 sec-text
}

.sidebar-link {
  @apply hover:text-sky-900 focus:outline-none
}

.sidebar-items li {
  @apply flex hover:bg-sky-400 mb-2 p-2 rounded-md transition-1
}

.active-item {
  @apply bg-sky-400 text-sky-900
}

/*====Navbar====*/
.navbar {
  @apply bg-white fixed top-0 right-0 w-[calc(100vw-256px)] ml-64 h-[4.5rem] shadow-md overflow-auto
}

.navbar-content {
  @apply flex flex-row justify-between pt-4
}

.user-title-group {
  @apply flex min-w-fit
}

.user-title-group img {
  @apply h-10 rounded-full ml-3 mr-3
}

.user-title-group span {
  @apply prm-text prm-hover mt-2 mr-3 transition-1 min-w-fit
}

.logout-link {
  @apply mr-3 mt-auto mb-2 flex prm-text prm-hover transition-1 min-w-fit border-focus
}

/*====Login====*/
.login-container {
  @apply bg-white h-auto w-[25rem] mt-10 m-auto shadow-md rounded-md
}

.login-container header {
  @apply relative prm-bg h-20 w-auto p-2 rounded-t-md
}

.login-container header>div {
  @apply absolute flex inset-0 w-fit h-fit m-auto
}

.login-container header>div>span {
  @apply text-2xl font-bold sec-text hover:text-sky-400 transition-1
}

/*====Cat====*/
.cat-descrip {
  @apply ml-2
}

.cat-descrip p {
  @apply font-semibold
}

.cat-descrip p > span {
  @apply text-sky-400 hover:text-sky-600 transition-1
}

.cat-img {
  @apply h-32 cursor-zoom-in
}

/*====Admin====*/
.page-container {
  @apply bg-white mt-[5.5rem] ml-[17rem] mr-4 mb-4 p-4 min-h-[calc(100vh-6.5rem)] min-w-min h-auto prm-text rounded-md
}

.page-title {
  @apply mb-8
}

.page-toolbar {
  @apply flex justify-between
}

.page-tools {

}

/*====Button====*/
.btn {
  @apply px-3 py-2 shadow-sm rounded-md transition-1
  leading-snug whitespace-nowrap text-base font-semibold
}

.btn-primary {
  @apply prm-bg sec-text hover:bg-sky-600 border-focus
}

.btn-block {
  @apply w-full
}

.btn-disabled {
  @apply bg-sky-900 text-sky-700 cursor-not-allowed border-focus
}

/*====Divider====*/
.divider-wrap {
  @apply relative flex py-5 items-center
}

.sides {
  @apply flex-grow border-t border-sky-400
}

.divider-body {
  @apply flex-shrink mx-4 text-sky-400
}

/*====ImageModal====*/
.image-overlay {
  @apply fixed top-0 left-0 right-0 w-full h-full flex items-center bg-sky-900/90
}

.image-overlay img {
  @apply block max-w-[60%] max-h-[80%] mt-[60px] m-auto shadow-2xl
}

.image-overlay > span {
  @apply absolute top-5 right-5 text-3xl text-black z-[999] cursor-pointer
}

/*====Card====*/
.card-container {
  @apply mt-2 p-2
}

.card {
  @apply bg-white min-w-[32rem] h-auto shadow-lg pb-[1px] mb-2
}

.card header {
  @apply prm-bg sec-text sec-hover pl-3 p-2 text-xl transition-1
}

.card-content {
  @apply bg-white m-2 p-2 border-2 sec-border sec-border-hover rounded-lg transition-1
}

/*====Form====*/
.form-control {
  @apply p-4
}

.form-group {
  @apply flex flex-col mb-3
}

.form-group label {
  @apply prm-text prm-hover text-lg  transition-1
}

.form-group input {
  @apply bg-slate-100 prm-text border-focus px-2 py-1
}

/*====Border====*/
.border-focus {
  @apply focus:outline-none focus:ring focus:border-sky-500 rounded-md
}

/*====Color Scheme====*/
.prm-bg {
  @apply bg-sky-700
}

.prm-text {
  @apply text-sky-700
}

.prm-hover {
  @apply hover:text-sky-500
}

.prm-border {
  @apply border-sky-700
}

.prm-border-hover {
  @apply hover:border-sky-500
}

.sec-bg {
  @apply bg-sky-200
}

.sec-text {
  @apply text-sky-100
}

.sec-hover {
  @apply hover:text-sky-400
}

.sec-border {
  @apply border-sky-100
}

.sec-border-hover {
  @apply hover:border-sky-400
}

/*====Transition====*/
.transition-1 {
  @apply transition duration-300 ease-in-out
}